@charset "UTF-8";

div>span {
	display: inline-block;
	color: white;
	background-color: #58ACFA;
	width: 100px;
	height: 75px;
	border: 1px solid gray;
	margin: 20px 10px;
	padding: 1px;
	box-shadow: 10px gray;
	text-align: center;
	line-height: 75px;
}

section {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}

a {
	text-decoration: none;
}

section>div>span>a {
	color: white;
}